body {
	position: absolute;
	background-color: rgb(51, 51, 51);
	min-width: 100%;
	min-height: 100%;
}

.app__component {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

.header {
	width: 100%;
	height: 40vh;
	background-color: rgb(220, 220, 220);
}

.header__icone {
	color: aliceblue;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.header__link {
	font-size: 20px;
	color: aliceblue;
	text-decoration: none;
	transition: all 0.2s;
}

.header__link:hover {
	color: rgb(135, 194, 246);
	transition: all 0.2s;
}

.header__nav {
	margin: 40px 120px;
	display: flex;
	justify-content: space-between;
}

.header__list {
	display: flex;
	gap: 1em;
	color: aliceblue;
}

.main {
	display: flex;
	justify-content: center;
}

.episode__name {
	color: aliceblue;
}

.fade-enter {
	position: absolute;
	transform: scale(0.9);
	opacity: 0;
	transition: all 0.3s;
}
.fade-enter-active {
	position: absolute;
	transform: scale(1);
	opacity: 1;
	transition: all 0.3s;
}
.fade-exit {
	position: absolute;
	transform: scale(1);
	opacity: 1;
	transition: all 0.3s;
}
.fade-exit-active {
	position: absolute;
	transform: scale(0.9);
	opacity: 0;
	transition: all 0.3s;
}

.characters__wrapper {
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	gap: 5em;
	justify-content: center;
}

.characters__not-fount {
	color: #ff9898;
	font-size: 24px;
	margin-top: 50px;
}

.characters__item {
	display: flex;
	flex-direction: column;
	gap: 2em;
	width: 300px;
	background-color: rgb(63, 63, 63);
	border-radius: 3%;
	border: 2px solid #6e6e6e;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
	align-items: center;
	transition: all 0.2s;
}

.characters__item:hover {
	backdrop-filter: initial;
	transform: scale(1.03);
	transition: all 0.2s;
}

.characters__item:hover > .characters__item-name {
	font-size: 24px;
	color: #e8f500;
	transition: all 0.1s;
}

.characters__item-img {
}

.characters__item-name {
	font-size: 24px;
	margin-bottom: 0.7em;
	color: #d1d1d1;
	cursor: pointer;
	font-weight: 600;
	transition: all 0.1s;
}

.details__wrapper {
	color: white;
	display: flex;
	width: 70%;
	font-size: 24px;
	display: flex;
	gap: 2em;
}

.details__img {
	border-radius: 13%;
	width: 10em;
	height: 10em;
}

.details__text {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	display: flex;
	font-size: 20px;
	flex-direction: column;
	gap: 0.2em;
	cursor: default;
}

.details__title {
	display: flex;
	flex-direction: row;
	font-size: 32px;
	margin-bottom: -0.7em;
}

.details__description {
	display: flex;
	flex-direction: column;
	margin-top: 1em;
	gap: 1em;
}

.details__text-title {
	color: #b8b8b8;
	font-size: 16px;
	font-style: italic;
}

.details__text-sensor {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
}

.details__sensor_green {
	background-color: rgb(0, 255, 0);
}

.details__sensor_red {
	background-color: red;
}

.details__sensor_gray {
	background-color: rgb(155, 155, 155);
}

.details__text-item {
	display: flex;
	gap: 0.4em;
	align-items: center;
}

.switch__btn {
	width: fit-content;
	color: #ffffff;
	background-color: hsl(0, 0%, 29%);
	margin: 5px;
	padding: 7px 10px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	user-select: none;
	transition: all 0.3s;
}

.switch__btn:hover {
	background-color: hsl(0, 0%, 44%);
	transition: all 0.3s;
}

.switch__btn:active {
	transform: scale(0.95);
	transition: all 0.1s;
}

.switch__btn_disable {
	width: fit-content;
	color: #ffffff;
	background-color: hsl(0, 100%, 30%);
	margin: 5px;
	padding: 7px 10px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	user-select: none;
	transition: all 0.3s;
}

.switch {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1em;
}

.switch__num {
	color: #d1d1d1;
	font-size: 20px;
}

.input {
	padding: 5px 10px;
	background-color: #474747;
	border: #7d7d7d solid 2px;
	border-radius: 4px;
	color: #ffffff;
}

.input:focus {
	border: #434343 solid 2px;
	background-color: #808080;
}
.input::placeholder {
	color: #bebebe;
}

.hidden {
	display: none;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	max-width: 80vw;
	height: 70vh;
}

.description__title {
	display: flex;
	color: #ffffff;
}
.description__text {
	display: flex;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
}

.footer__creator {
	width: 10em;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: #ffffff;
	cursor: pointer;
	display: flex;
	gap: 10px;
	align-items: center;
	transition: all 0.2s;
}

.footer__creator:hover {
	color: #bdff3a;
	transition: all 0.2s;
}

.footer__creator:hover > img {
	background-color: #bdff3a;
	transition: all 0.2s;
}

.footer {
	position: sticky;
	bottom: 10px;
	margin-top: 50px;
	margin-left: 120px;
	margin-right: 120px;
	display: flex;
	justify-content: space-between;
}

.footer__up {
	width: 10em;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
	transition: all 0.2s;
	cursor: pointer;
}
.footer__up:hover {
	font-size: 20px;
	font-weight: 500;
	color: #bdff3a;
	transition: all 0.2s;
}

.footer__up:active {
	transform: scale(0.95);
	transition: all 0.2s;
}

.footer__year {
	width: 10em;
	text-align: end;
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
	cursor: default;
}

.footer__img {
	background-color: #ffffff;
	border-radius: 60%;
	width: 25px;
	height: 25px;
}
